/**
 * Body CSS
 */

html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

    header ul.mui-list--inline {
        margin-bottom: 0;
    }

    header a {
        color: white;
    }


/**
 * Content CSS
 */

#content-wrapper {
    min-height: 50%;
    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -100px;
    padding-bottom: 100px;
}


/**
 * Footer CSS
 */

footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
}

/*
 *Input control
*/
.idTextBox {
    padding-left: 20%;
    padding-right: 20%;
}

.userTable {
    padding-left: 10%;
    padding-right: 10%;
}

li::marker {
    color: black; /* bullet color */
}

li {
    color: red; /* text color */
}
